* {
  font-family: 'Barlow', sans-serif;
}

body {
  max-width: 100vh;
}

h2 {
  line-height: 30px;
  margin: auto;
  display: block;
  text-align: center;
  padding-bottom: 30px;
}

.row {
  display: flex;
  margin: 0% 5% 0% 5%;
}

.container1 {
  align-items: center;
  text-align: center;
}

.container2 {
  align-items: center;
  text-align: center;
}

.container3 {
  align-items: center;
  text-align: center;
}

.container4 {
  align-items: center;
  text-align: center;
}

.icon {
  width: 100px;
}

.phone {
  width: 400px;
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
}
